/* Body */
body {



    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

}

/* Login Box */
.login-container {
    background: white;
    padding: 40px;
    width: 350px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #4CAF50;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Heading */
.login-container h2 {
    margin-bottom: 30px;
    color: #333;
}

/* Inputs */
.login-container input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Normal Login Button */
.login-container button[type="submit"] {
    width: 95%;
    padding: 12px;
    margin-top: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.login-container button[type="submit"]:hover {
    background-color: #45a049;
}

/* Social Buttons (inside form) */
.google-btn, .email-btn {
    width: 95%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

/* Google button */
.google-btn {
    background-color: #DB4437; /* Red */
    color: white;
}

.google-btn:hover {
    background-color: #c13528;
}

/* Email button */
.email-btn {
    background-color: #4285F4; /* Blue */
    color: white;
}

.email-btn:hover {
    background-color: #357ae8;
}

/* Error Message */
#error-msg {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.login-container h2 {
    color: rgb(220, 223, 220);
}

background-image: url('images/background.jpg');
S